*{
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  background-color: rgb(24, 25, 24);
  align-items: center;
  justify-content: center;
  position: relative;
}

.box-animation{
  --size: 80vh;
  height: var(--size);
  width: var(--size);
  -webkit-box-reflect: right -100% linear-gradient(transparent,rgba(0,0,0,.4)); /* тень */
  animation: animation_line 1s linear 0.1s  infinite reverse;
  border-radius: 50%;
}


:root {
  --sizeEnterColor: 10vh;
  --marginTop: 1.5%;
  --positionEnterColor: calc(var(--sizeEnterColor) + var(--marginTop));
}

.color{
  height: var(--sizeEnterColor);
  width: var(--sizeEnterColor);
  border-radius: 50%;
  position: absolute;
}

.red{
  background-color: red;
  left: 0;
  top: 0;
} 

.blue{
  background-color: blue;
  left: 0;
  top: var(--positionEnterColor);
}

.green{
  background-color: green;
  left: 0;
  top : calc(var(--positionEnterColor) * 2);
}

@keyframes animation_line
{
  0%
  {
    background-position: 0% ;
  }
  100%
  {
    background-position: var(--size);
  }
}